<div class="sidenav">
    <div class="login-main-text">
        <h2>Crud empleados<br> Pagina de Acceso</h2>
        <p>Registrate para acceder</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="registro-form">
            <form [formGroup]="registroForm" (ngSubmit)="onRegistro(registroForm.value)">
                <div class="form-group">
                    <label>username</label>
                    <input type="text" class="form-control" placeholder="nombre" formControlName="nombre">
                </div>
				<div class="form-group">
                    <label>nombre</label>
                    <input type="text" class="form-control" placeholder="username" formControlName="username">
                </div>
				<div class="form-group">
                    <label>email</label>
                    <input type="text" class="form-control" placeholder="email" formControlName="email">
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" class="form-control" placeholder="Contraseña" formControlName="password">
                </div>
                <br><br>
                <div>
                    <button type="submit" class="btn btn-black">Registrarse</button>
                    <a class="btn btn-primary" href="/login" role="button">Ya tengo cuenta</a>
                </div>
            </form>
        </div>
    </div>
</div>